.container-entry-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.entry-table-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.entry-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

.entry-table th, .entry-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.entry-table th {
  background-color: #005295;
  color: #ffffff;
  font-weight: bold;
}

.entry-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.entry-table tr:hover {
  background-color: #ddd;
}

.deletereg-button {
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletereg-button:hover {
  background-color: #cc0000;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  align-items: center;
}

.sort-order, .today-button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sort-order {
  background-color: #ffffff;
}

.today-button {
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.today-button:hover {
  background-color: #45a049;
}

.back-buttonn {
  display: block;
  background-color: #0077d1;
  border: 1px solid #b0bec5;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.back-buttonn:hover {
  background-color: #01579b;
  color: white;
  border-color: #01579b;
}
