.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.entry-list {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: center;
}

.backk-button {
    background-color: #0069dadc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.backk-button:hover {
    background-color: #0056b3;
}

.entry-regs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}

.entry-reg {
    background-color: #c7c7c794;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 40px); /* Three regs per row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.entry-reg strong {
    display: block;
    margin-bottom: 5px;
}

.deletereg-button {
    background-color: #c50000d8;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 1px;
    right: 10px;
    margin-left: 100%;
    margin-top: -20px;
}

.deletereg-button:hover {
    background-color: #830000;
}

.deletereg-button::before {
    content: '✖';
    font-size: 8px;
    color: white;
}