.request-list {
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: scroll;
}

.request-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.request-list ul {
  list-style-type: none;
  padding: 0;
}

.request-list li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e0f7fa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.request-list li strong {
  color: #555;
}

.request-list li ul {
  margin-top: 10px;
  padding-left: 20px;
}

.request-list li ul li {
  margin-bottom: 5px;
}

.request-list li ul li button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.request-list li ul li button:hover {
  background-color: #0056b3;
}

.loading, .error {
  text-align: center;
  color: #888;
}

.back-button {
  display: inline-flex;
  align-items: center;
  border: 1px solid #6366F1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  color: #fff;
  background-color: #6366F1;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.back-button svg {
  margin-right: 0.5rem;
}

.back-button:hover {
  background-color: #4f46e5;
}

.back-button .font-bold {
  font-size: 1.125rem;
  font-weight: bold;
}

.pdf-viewer {
  height: 500px;
  margin-top: 20px;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
}

.approve-button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.reject-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.approve-button:hover,
.reject-button:hover {
  opacity: 0.8;
}

.request-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
