body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f0f2f5;
  overflow-y: scroll; /* Asegura que siempre haya desplazamiento vertical */
}

.container-entry-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.entry-table-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 80vh; /* Ajusta según tu necesidad */
}

.entry-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

.entry-table th, .entry-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.entry-table th {
  background-color: #005295;
  color: #ffffff;
  font-weight: bold;
}

.entry-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.entry-table tr:hover {
  background-color: #ddd;
}

.deletereg-button {
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletereg-button:hover {
  background-color: #cc0000;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: -20px;
  align-items: center;
}

.sort-order, .today-button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sort-order {
  background-color: #ffffff;
}

.today-button {
  background-color: #0069da;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.today-button:hover {
  background-color: #0056b3;
}

.search-date-order {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.back-buttonn {
  display: flex;
  background-color: #0069da;
  border: 1px solid #b0bec5;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  align-items: start;
}

.back-buttonn:hover {
  background-color: #01579b;
  color: white;
  border-color: #01579b;
}

/* Estilos para la barra de búsqueda */

.search-bar-entry {
  margin: 0 auto;
  gap: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 10px 20px -18px rgba(0, 0, 0, 0.1);
}

.search-bar-entry input {
  max-width: 190px;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px rgba(0, 0, 0, 0.805);
}

.search-bar-entry input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.search-bar-entry input:hover {
  outline: 1px solid lightgrey;
}

.search-bar-entry button {
  background-color: #0069da;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.search-bar-entry button:hover {
  background-color: #0056b3;
}
