@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body { 
  margin: 0;
}
.vehicles-page * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vehicles-page {
  background: #007BA7; /* Cerulean background color */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #f6f4e6;
  position: relative; /* Added to position the go-back arrow */
}

.vehicles-page h1 {
  margin-bottom: 20px;
}

.vehicles-page .button-container {
  display: flex;
  gap: 20px;
}

.vehicles-page .button-green {
  background-color: #E0FFFF; /* Pale Cyan color */
  color: #007BA7; /* Cerulean color for text */
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.vehicles-page .button-green:hover {
  background-color: #b2d8d8; /* Slightly darker shade of Pale Cyan */
}

.vehicles-page .go-back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  color: #f6f4e6;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.vehicles-page .go-back:hover {
  color: #fddb3a;
}