/* frontend/src/index.css */

/* Estilo para la barra de navegación */
.navbar {
  background-color: #87CEFA; /* Azul claro */
  padding: 10px;
  margin-top: 20px; /* Margen superior */
  border-radius: 5px; /* Bordes redondeados */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
  border-right: 1px solid #fff; /* Línea de separación blanca */
  padding: 0 10px; /* Espaciado alrededor de los enlaces */
}

.navbar li:last-child {
  border-right: none; /* Elimina la línea de separación del último elemento */
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Color del texto */
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
}
