.navbar {
  background-color: #87CEFA;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
  border-right: 1px solid #fff;
  padding: 0 10px;
}

.navbar li:last-child {
  border-right: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
}

.create-request-container,
.upload-pdf-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
